@charset "UTF-8";

html, body {
  height: 100%;
  overflow: hidden;
}
div.collapse{
  display: none;
}
body{
  perspective: 16000px;
}
ul{
  list-style:none;
}
img{
  width: 100%;
}
.circle{
  border-radius:50%;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border: 1px solid #fff;
  margin:0 auto;
}
/* 正常的 */
/*最顶层*/
.index_up {
  position: fixed;
  //background: linear-gradient(to bottom,rgba(0,0,0,.9),rgba(0,255,0,.4));
  //background: linear-gradient(to right,rgba(0,0,0,.85) 40%,rgba(60,167,241,.9),rgba(212,81,190,.9),rgba(255,255,255,.9));
  //background: rgba(0,0,0,.9);
  background: radial-gradient(at center,rgba(244,244,244,1),rgba(20,20,20,1));
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 1.3;
  flex-direction: column;
  color: #fff;
  box-shadow: 0 0 39px 5px #eee inset;
  .qq {
    position: absolute;
    top: 20px;
    left: 20px;
    .qq3d {
      width: 30px;
      height: 30px;
      text-align: center;
      line-height: 30px;
      border: 1px solid #fff;
      color: #fff;
      display: inline-block;
    }
  }
  .youpiao {
    position: absolute;
    right: 20px;
    top: 20px;
    .index_img {
      width: 200px;
      height: 100px;
      text-align: right;
      border: 1px solid #000;
      background-color: #fff;
      img {
        height: 100%;
        width:auto;
      }
      span {
        color: #fff;
        font-size: 18px;
        position: absolute;
        right: 0px;
        bottom: 0px;
      }
    }
  }
}

.char3Ds {
  text-align: center;
  color: #000;
  font-family: "Microsoft YaHei";
  font-weight: bold;
  font-size: 50px;
  margin-left: -300px;
  &:nth-child(4) {
    margin-left: 100px;
  }
  &:nth-child(5) {
    margin-left: 400px;
  }

}

.up_btn {
  position: absolute;
  right: 40px;
  bottom: 40px;
  a {
    padding: 10px 20px;
    border-radius: 10px;
    background: -webkit-linear-gradient(top, #eee, #999);
    color: #000;
    transition: all .5s linear;
    text-decoration: none;
    &:hover {
      color: #fff
    }
  }
}


/*四个大页面切换*/
.index_main{
  position: relative;
  transform-style: preserve-3d;
  margin-top:50px;

}
/*导航*/
.navbar-default-y {
  background-color: rgba(199,199,199,1);
  border-color: #e7e7e7;
  min-height:auto;
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index:100;
  .navbar-brand {
    color: #777;
    padding:0;
    height:auto;
    height: 20px;
    width: 20px;
    &:hover,
    &:focus {
      color: #5e5e5e;
      background-color: transparent;
    }
    img{
      margin:5px 15px
    }
  }

  .navbar-text {
    color: #777;
  }
  .navbar-nav > li > a {
    color: #777;
    &:hover,
    &:focus {
      color: #333;
      background-color: transparent;
    }
    span{
      margin-right:5px;
    }
  }
  .navbar-nav > .active > a {
    color: #000;
    &:hover,
    &:focus {
      color: #000;
      background-color: transparent;
    }
  }
  .navbar-nav > .disabled > a {
    &:hover,
    &:focus {
      color: #ccc;
      background-color: transparent;
    }
  }
  .navbar-toggle {
    border-color: #ddd;
    &:hover,
    &:focus {
      background-color: #ddd;
    }
  }
  .navbar-toggle .icon-bar {
    background-color: #888;
  }
  .navbar-collapse,
  .navbar-form {
    border-color: #e7e7e7;
  }
  .navbar-nav > .open > a {
    &:hover,
    &:focus {
      color: #555;
      background-color: #e7e7e7;
    }
  }
}

@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

/*第一页*/
.section1{
  height:100%;
  z-index:10;
  z-index:10;
  .container{
    background: url("../img/first.png") no-repeat 0 -20px #ddd;
    box-shadow: 2px 2px 2px 2px #eee;
    background-size:cover;
    min-height: 800px;
    overflow: hidden;
    .col-md-12{
      margin-top:30px;
      &:nth-child(5){
        margin-top:10px;
      }
      &:last-child{
        font-size:30px;
        margin-top:100px;
      }
      .rotateZ-7{
        transform:rotateZ(-7deg);
        font-size:34px;
        color:#fff;
        letter-spacing: 15px;
        text-shadow: 2px 2px 4px #f00;
      }
    }
    .col-md-4{
      margin-top:120px;
      font-size:30px;
      &:nth-child(3){
        margin-top:54px;
      }
      p{
        margin:0 20px;
        padding-left:20px;
      }
      p:first-child{
        margin-top:130px;
        border-bottom:3px solid red;
      }
    }
    img{
      width:auto;
      height:100%;
    }
  }

}

.section{
  position: absolute;
  top:0;
  height:100%;
  width:94%;
  left:3%;
  overflow: hidden;
  //padding-top:30px;
  border: 1px solid #000;
  //第二屏
  //.section2{
  //  .row{
  //    padding-top:100px;
  //    .md3{
  //      width: 150px;
  //      height: 150px;
  //      border-radius:50%;
  //      background-color: #eee;
  //      margin:0 auto;
  //      text-align: center;
  //      line-height:150px;
  //      font-size:20px;
  //    }
  //  }
  //  .text-center{
  //    margin-top:20px;
  //    font-size:18px;
  //  }
  //}

  .section2{
    .row{
      color:#fff;
      .col-md-2{
        font-size:20px;
      }
      &:first-child{
        margin:30px 0
      }
    }
    .progress{
      height:25px;
      .progress-bar{
        animation: progress_y 1s infinite linear;
      }
    }
  }
  .section3 {
    margin-top:50px;
    position: relative;
    .nav3-tabs{
      li{
        width:40%;
        margin:5px 5%;
        background:rgba(250,250,250,.9);
        border-radius:5px;
        height:200px;
        float: left;
        text-align: center;
      }
    }
  }
  .section4{
    height:100%;
    .slide{
      height:100%;
      .carousel-indicators li{

      }
      .carousel-caption{
        background-color: rgba(10,10,10,.5);
        border-radius:5px;
        padding-top:0
      }
      .carousel-inner{
        height:100%;
        .item{
          height:100%;

        }

      }
    }




  }
}




@keyframes progress_y {
  from{
    background-position: 0 0;
  }
  to{
    background-position: 40px 0;
  }
}







