@charset "UTF-8";
html,
body {
  height: 100%;
  overflow: hidden;
}
div.collapse {
  display: none;
}
body {
  perspective: 16000px;
}
img {
  width: 100%;
}
.circle {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  overflow: hidden;
  border: 1px solid #fff;
  margin: 0 auto;
}
/* 正常的 */
/*最顶层*/
.index_up {
  position: fixed;
  background: radial-gradient(at center, #f4f4f4, #000000);
  width: 100%;
  height: 100%;
  padding: 20px;
  z-index: 101;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  line-height: 1.3;
  flex-direction: column;
  color: #fff;
  box-shadow: 0 0 39px 5px #eee inset;
}
.index_up .qq {
  position: absolute;
  top: 20px;
  left: 20px;
}
.index_up .qq .qq3d {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid #fff;
  color: #fff;
  display: inline-block;
}
.index_up .youpiao {
  position: absolute;
  right: 20px;
  top: 20px;
}
.index_up .youpiao .index_img {
  width: 200px;
  height: 100px;
  text-align: right;
  border: 1px solid #000;
  background-color: #fff;
}
.index_up .youpiao .index_img img {
  height: 100%;
  width: auto;
}
.index_up .youpiao .index_img span {
  color: #fff;
  font-size: 18px;
  position: absolute;
  right: 0px;
  bottom: 0px;
}
.char3Ds {
  text-align: center;
  color: #000;
  font-family: "Microsoft YaHei";
  font-weight: bold;
  font-size: 50px;
  margin-left: -300px;
}
.char3Ds:nth-child(4) {
  margin-left: 100px;
}
.char3Ds:nth-child(5) {
  margin-left: 400px;
}
.up_btn {
  position: absolute;
  right: 40px;
  bottom: 40px;
}
.up_btn a {
  padding: 10px 20px;
  border-radius: 10px;
  background: -webkit-linear-gradient(top, #eee, #999);
  color: #000;
  transition: all .5s linear;
  text-decoration: none;
}
.up_btn a:hover {
  color: #fff;
}
/*四个大页面切换*/
.index_main {
  position: relative;
  transform-style: preserve-3d;
}
/*导航*/
.navbar-default-y {
  background-color: #c7c7c7;
  border-color: #e7e7e7;
  min-height: auto;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.navbar-default-y .navbar-brand {
  color: #777;
  padding: 0;
  height: auto;
  height: 20px;
  width: 20px;
}
.navbar-default-y .navbar-brand:hover,
.navbar-default-y .navbar-brand:focus {
  color: #5e5e5e;
  background-color: transparent;
}
.navbar-default-y .navbar-brand img {
  margin: 5px 15px;
}
.navbar-default-y .navbar-text {
  color: #777;
}
.navbar-default-y .navbar-nav > li > a {
  color: #777;
}
.navbar-default-y .navbar-nav > li > a:hover,
.navbar-default-y .navbar-nav > li > a:focus {
  color: #333;
  background-color: transparent;
}
.navbar-default-y .navbar-nav > li > a span {
  margin-right: 5px;
}
.navbar-default-y .navbar-nav > .active > a {
  color: #000;
}
.navbar-default-y .navbar-nav > .active > a:hover,
.navbar-default-y .navbar-nav > .active > a:focus {
  color: #000;
  background-color: #e7e7e7;
}
.navbar-default-y .navbar-nav > .disabled > a:hover,
.navbar-default-y .navbar-nav > .disabled > a:focus {
  color: #ccc;
  background-color: transparent;
}
.navbar-default-y .navbar-toggle {
  border-color: #ddd;
}
.navbar-default-y .navbar-toggle:hover,
.navbar-default-y .navbar-toggle:focus {
  background-color: #ddd;
}
.navbar-default-y .navbar-toggle .icon-bar {
  background-color: #888;
}
.navbar-default-y .navbar-collapse,
.navbar-default-y .navbar-form {
  border-color: #e7e7e7;
}
.navbar-default-y .navbar-nav > .open > a:hover,
.navbar-default-y .navbar-nav > .open > a:focus {
  color: #555;
  background-color: #e7e7e7;
}
@media (min-width: 768px) {
  .navbar-nav > li > a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
/*第一页*/
.section1 {
  height: 100%;
  z-index: 10;
}
.section1 .container {
  background: url("../img/first.png") no-repeat 0 -20px #ddd;
  box-shadow: 2px 2px 2px 2px #eee;
  background-size: cover;
  min-height: 800px;
  overflow: hidden;
}
.section1 .container .col-md-12 {
  margin-top: 30px;
}
.section1 .container .col-md-12:nth-child(5) {
  margin-top: 10px;
}
.section1 .container .col-md-12:last-child {
  font-size: 30px;
  margin-top: 100px;
}
.section1 .container .col-md-12 .rotateZ-7 {
  transform: rotateZ(-7deg);
  font-size: 34px;
  color: #fff;
  letter-spacing: 15px;
  text-shadow: 2px 2px 4px #f00;
}
.section1 .container .col-md-4 {
  margin-top: 120px;
  font-size: 30px;
}
.section1 .container .col-md-4:nth-child(3) {
  margin-top: 54px;
}
.section1 .container .col-md-4 p {
  margin: 0 20px;
  padding-left: 20px;
}
.section1 .container .col-md-4 p:first-child {
  margin-top: 130px;
  border-bottom: 3px solid red;
}
.section1 .container img {
  width: auto;
  height: 100%;
}
.section {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  left: 0;
  overflow: hidden;
  padding-top: 30px;
}
.section .section2 .row .col-md-2 {
  font-size: 20px;
}
.section .section2 .row:first-child {
  margin: 30px 0;
}
.section .section2 .progress {
  height: 25px;
}
.section .section3 {
  margin-top: 100px;
}
.section .section3 .nav3-tabs {
  background-color: #fff;
}
.section .section3 .nav3-tabs li {
  margin-bottom: -1px;
}
.section .section3 .nav3-tabs li > a {
  margin-right: 2px;
  line-height: 1.42857143;
  border-radius: 4px 4px 0 0;
}
.section .section3 .nav3-tabs li > a:hover {
  background-color: #fff;
}
.section .section3 .nav3-tabs .active > a,
.section .section3 .nav3-tabs .active > a:hover,
.section .section3 .nav3-tabs .active > a:focus {
  color: #555;
  background-color: #fff;
  cursor: default;
}
.section .section3 .tab-content {
  margin-bottom: 50px;
  border-radius: 10px;
  background-color: #fff;
}
.section .section3 .tab-content h3 {
  text-align: center;
}
.section .section3 .tab-content .com_info {
  color: #888;
  text-align: center;
}
